* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-bar {
  background-color: #d8e9f8;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 좌우로 정렬 */
}

.navigation .logo {
  height: 40px;
  margin-right: 10px;
}

.navigation .title {
  font-size: 22px;
  font-weight: bold;
  margin-right: auto; /* 로고, 타이틀 왼쪽 정렬 */
}

.navigation .nav-menu, .nav-item {
  display: flex;
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 10px 20px;
}
