{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>AI 서포터즈 센터</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.0/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
  {% block head %}
  {% endblock %}
</head>
  <body class="bg-gray-100">
    <div class="main-container">
      <!-- 공통 상단 바 -->
      <header class="top-bar">
        <img src="{% static 'images/TTA logo.jpg' %}" alt="로고" class="logo">
        <span class="title">AI 서포터즈 센터</span>
        <div class="menu-section">
          <div class="menu-item">메뉴1
            <div class="submenu">
              <div class="submenu-item">하위메뉴1-1</div>
              <div class="submenu-item">하위메뉴1-2</div>
              <div class="submenu-item">하위메뉴1-3</div>
            </div>
          </div>
          <div class="menu-item">메뉴2
            <div class="submenu">
              <div class="submenu-item">하위메뉴2-1</div>
              <div class="submenu-item">하위메뉴2-2</div>
              <div class="submenu-item">하위메뉴2-3</div>
            </div>
          </div>
          <div class="menu-item">메뉴3
            <div class="submenu">
              <div class="submenu-item">하위메뉴3-1</div>
              <div class="submenu-item">하위메뉴3-2</div>
              <div class="submenu-item">하위메뉴3-3</div>
            </div>
          </div>
        </div>
      </header>
      
      <!-- 페이지 개별 내용 -->
      <main>
      {% block content %}
      {% endblock %}
    </main>

  </div>
</body>
</html>
