{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GS 인증 AI 서포터즈 센터</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/header.css' %}"/>
    {% block head %}
    {% endblock %}
  </head>
  <body class="bg-gray-100">
    <div class="main-container">
      <!-- 공통 상단 바 -->
      <header class="top-bar">
        <img src="{% static 'images/logo.png' %}" alt="로고" class="title" onclick="location.href='{% url 'index' %}';">
        <div class="menu-section">
          <div class="menu-item">테스팅 에이전트
            <div class="submenu">
              <div class="submenu-item" onclick="location.href='{% url 'history' %}';">시험 이력 조회</div>
              <div class="submenu-item" onclick="location.href='{% url 'similar' %}';">유사 시험 조회</div>
              <div class="submenu-item" onclick="location.href='{% url 'security' %}';">보안성 결함리포트 생성</div>
              <!-- <div class="submenu-item" onclick="location.href='{% url 'genspark' %}';">결과보고서 자동 작성</div> -->
            </div>
          </div>
          <div class="menu-item">서티 에이전트
            <div class="submenu">
              <div class="submenu-item" onclick="location.href='{% url 'prdinfo' %}';">제품 정보 요청 자동 작성</div>
              <!-- <div class="submenu-item" onclick="location.href='{% url 'genspark' %}';">하위메뉴2-2</div>
              <div class="submenu-item" onclick="location.href='{% url 'genspark' %}';">하위메뉴2-3</div> -->
            </div>
          </div>
          <div class="menu-item">리뷰 에이전트
            <div class="submenu">
              <div class="submenu-item" onclick="location.href='{% url 'checkreport' %}';">시험결과서 자동 검토</div>
              <!-- <div class="submenu-item" onclick="location.href='{% url 'genspark' %}';">하위메뉴3-2</div>
              <div class="submenu-item" onclick="location.href='{% url 'genspark' %}';">하위메뉴3-3</div> -->
            </div>
          </div>
        </div>
      </header>
      
      <!-- 페이지 개별 내용 -->
      {% block content %}
      {% endblock %}

    </div>
  </body>
</html>
