{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>AI 서포터즈 센터</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
  {% block css %}
  {% endblock %}
  <script src="{% static 'scripts/radio.js' %}" defer></script>
  </head>
<body>
  <div class="container">
    <!-- 공통 상단 바 -->
    <header class="top-bar">
      <img src="{% static 'images/TTA logo.jpg' %}" alt="로고" class="logo">
      <span class="title">AI 서포터즈 센터</span>
      <nav class="menu">
        <ul class="nav-menu">
          <li class="nav-item dropdown">
            <a class="nav-link">
              <span class="nav-text">테스팅 에이전트</span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'index' %}" class=dropdown-link>시험 이력 조회<br>유사 시험 조회</li>
              <li><a href="{% url 'security' %}" class=dropdown-link>보안성 결함 작성</li>
              <li><a href="{% url 'genspark' %}" class=dropdown-link>테스트케이스 작성</li>
              <li><a href="{% url 'genspark2' %}" class=dropdown-link>시험결과서 작성</li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link">
              <span class="nav-text">서티 에이전트</span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'index' %}" class=dropdown-link>인증위 제품정보 자동 작성</li>
              <li><a href="{% url 'security' %}" class=dropdown-link>인증서 제작 자동화</li>
              <li><a href="{% url 'genspark' %}" class=dropdown-link>GS 인증 이력 및 통계 자동화</li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link">
              <span class="nav-text">리뷰 에이전트</span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'index' %}" class=dropdown-link>시험 결과서 기본 사항 점검</li>
              <li><a href="{% url 'security' %}" class=dropdown-link>인증서 및 결과서 오류 검출</li>
              <li><a href="{% url 'genspark' %}" class=dropdown-link>ECM 산출물 자동 점검</li>
              <li><a href="{% url 'genspark2' %}" class=dropdown-link>사용자 매뉴얼 기본 품질 점검</li>
            </ul>
          </li>
        </ul>
          
      </nav>
    </header>

    <!-- 페이지 개별 내용 -->
    <main>
      {% block content %}
      {% endblock %}
    </main>

  </div>
</body>
</html>
